*{
    margin: 0;
}
.container {
    display: flex;
    height: 100vh;
  }
  
  .half-container1,
  .half-container2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
  }
  
  .half-container1 img {
    max-width: 100%;
    height: auto;
  }
  
  .header {
    text-align: center;
  }
  
  .header img {
    max-width: 100px;
  }
  .half-container2 {
    margin-left: auto;
    margin-right: auto;
  }
  